/* publications */

#publications h3 {
    color: var(--text-secondary-color) !important;
}

#publications a {
    text-decoration: none;
    color: var(--text-link-color) !important;
}

#publications .row .index {
    opacity: 0.8;
    padding: 13px 20px;
    line-height: 0%;
    border-radius: 50%;
    max-height: 50px;
    z-index: 2;
    background-color: var(--primary-color) !important;
    color: var(--secondary-color) !important;
    font-weight: bold;
}

#publications .card * {
    background-color: var(--secondary-color) !important;
}

#publications .card {
    border-radius: 1.5rem;
    box-shadow: 0px 8px 56px rgb(15 80 100 / 16%);
    border: 2px solid var(--text-secondary-color) !important;
    transition: box-shadow .2s linear, opacity .2s linear;
    transition: transform 0.2s;
}

#publications .card .card-body {
    border-radius: 1.5rem;
    padding: 2rem;
}

@media all and (max-width: 768px) {
    #publications .card .card-body {
        padding: 2rem 1rem;
    }
}

#publications .card:hover {
    transition: 0.3s;
    box-shadow: 0 4px 11px rgb(15 80 100 / 16%);
    border: 2px solid var(--primary-color) !important;
}

#publications .card .card-body .publication-content a {
    color: var(--text-link-color) !important;
    text-decoration: none;
    opacity: 0.9;
}

#publications .card .card-body .publication-content a::after {
    content: "";
    display: block;
    width: 0px;
    height: 2px;
    bottom: 0.37em;
    background-color: var(--primary-color);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    opacity: 0.5;
}

#publications .card .card-body .publication-content a:hover::after,
#publications .card .card-body .publication-content a:focus::after,
#publications .card .card-body .publication-content a:active::after {
    width: 100%;
}

#publications .card .card-body .publication-links {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

#publications .card .card-body .publication-links a.btn {
    opacity: 0.9;
    border: 1px solid var(--primary-color) !important;
    color: var(--text-color) !important;
    border-radius: 0.75rem;
    box-shadow: none;
    transition: none;
    padding: 0.4rem 0.8rem;
}

#publications .card .card-body .publication-links a.btn:hover {
    opacity: 0.8;
    background-color: var(--primary-color) !important;
    color: var(--secondary-color) !important;
}

#publications .card .card-body .publication-links a.btn i {
    margin-right: 0.3rem;
}

#publications .card-title {
    color: var(--text-color) !important;
    opacity: 0.9;
    margin-bottom: 0.5rem;
}

#publications .card-body small {
    color: var(--text-secondary-color) !important;
}