/* Title */
#publications .container > h3 {
    color: var(--text-secondary-color) !important;
}

/* Index bubble */
#publications .row .index {
    opacity: 0.8;
    padding: 13px 20px;
    border-radius: 50%;
    background-color: var(--primary-color) !important;
    color: var(--secondary-color) !important;
    font-weight: bold;
}

/* Card */
#publications .card {
    border-radius: 1.5rem;
    background-color: var(--secondary-color) !important;
    box-shadow: 0px 8px 56px rgb(15 80 100 / 16%);
    border: 2px solid var(--text-secondary-color) !important;
    transition: box-shadow .2s linear, opacity .2s linear, transform 0.2s;
}

#publications .card:hover {
    box-shadow: 0 4px 11px rgb(15 80 100 / 16%);
    border: 2px solid var(--primary-color) !important;
}

/* Card body */
#publications .card .card-body {
    padding: 2rem;
    border-radius: 1.5rem;
}

/* Authors */
#publications .authors {
    opacity: 0.9;
    margin-bottom: 0.5rem;
}

/* Venue */
#publications .venue small {
    opacity: 0.8;
}

/* Content */
#publications .publication-content {
    opacity: 0.9;
}

/* Badges */
#publications .badge {
    display: inline-block;
    padding: 4px 10px;
    margin-right: 5px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 0.5rem;
    font-size: 0.75rem;
    opacity: 0.9;
}

/* Buttons */
#publications .card .btn {
    opacity: 0.9;
    border: 1px solid var(--primary-color) !important;
    color: var(--text-color) !important;
    border-radius: .75rem;
    margin-right: 0.5rem;
}

#publications .card .btn:hover {
    opacity: 0.8;
}

/* Search bar */
#publications .pub-search-bar {
    margin: 2rem auto 2.5rem auto;   /* top, left/right(auto), bottom */
    text-align: center;
    width: 100%;
}

#publications #pub-search {
    width: 80%;                      /* makes it long */
    max-width: 650px;                /* limit on huge screens */
    padding: 0.75rem 1rem;           /* comfortable typing space */
    font-size: 1rem;

    border: 1px solid var(--text-secondary-color);
    background-color: var(--secondary-color);
    color: var(--text-color);

    border-radius: 18px;
    outline: none;

    transition: box-shadow 0.2s ease, border-color 0.2s ease;
}

#publications #pub-search:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 4px var(--primary-color);
}
